/*----------------------------------------------*/
/* alert */
/*----------------------------------------------*/
.alert{
	padding: 9px 15px 9px 30px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    left: 10px;
    right: auto;
}
.newsletter-btn-close.close,
.quickview-btn{
	left: 0;
	right: auto;
}

/*----------------------------------------------*/
/* scrollToTop */
/*----------------------------------------------*/
.scrollToTop {
	left: 30px;
	right: auto;
}
@media (max-width: 991px) {
	.scrollToTop {
		left: 15px;
		right: auto;
	}
}

/*----------------------------------------------*/
/* top */
/*----------------------------------------------*/
.dropdown-menu.pull-right,
#cart .dropdown-menu table td.product-cart-close,
#cart .dropdown-menu table td.voucher-close,
.top-right ul.dropdown-menu,
#header_ac .dropdown-menu{
	left: 0;
	right: auto;
}
.top-left{
    float: right;
}
#top #form-currency .currency-select,
#top #form-language .language-select,
.dropdown-menu-right li a,
#menu .dropdown-inner a,
.dropdown-menu,
.cart-text,
#header_ac ul.dropdown-menu li a,
.text-left,
#header_ac button{
	text-align: right;
}
.text-right {
	text-align: left;
}
#cart > .btn:before{
	margin: 0 0 0 8px;
}
.category-search:after{
	left: 0;
}
.header-search .icon-close{
	left: 15px;
	right: auto;
}
#cart > .btn{
	padding: 15px 15px 15px 0;
}
#cart-total{
	left: 0;
	right: auto;
}
#cart .dropdown-menu li p .btn::before, 
#cart .text-right .addtocart-btn::before, 
#cart .text-right .checkout-btn::before, 
.html1 .button::before, 
.html2 .button::before, 
.news .subscribe-btn::before, 
.blog-read::before, 
.product-list .product-thumb .addcart::before {
	right: 0;
	left: auto;
}
.ui-autocomplete .mahardhi-search .images {
    padding: 0 0 0 10px;
}
@media (max-width: 991px){
	#cart > .btn {
	    padding: 10px 10px 10px 0;
	}
	.header-search .icon-close{
		left: 10px;
		right: auto;
	}
}
@media (max-width: 480px) {
	#cart .dropdown-menu {
		left: -40px;
		right: auto;
	}
}

/*----------------------------------------------*/
/* menu */
/*----------------------------------------------*/
#menu .column-1 .dropdown-inner li.dropdown-submenu > .fa {
	right: auto;
	left: 10px;
}
#menu .fa-angle-right:before {
	content: "\f104";
}
#menu .column-1 .dropdown-inner .dropdown-submenu ul.sub-menu {
	left: auto;
	right: 100%;
}
.list-inline,
.list-unstyled {
	padding-right: 0;
}
#menu ul.nav.navbar-nav {
    padding: 0;
}
#menu .nav > li + li {
	margin: 0 38px 0 0;
}
@media (min-width: 992px){
	#menu .dropdown-menu,
	#menu .hiden_menu.menu_drop .dropdown-inner{
		left: auto;
		right: 0;
	}
	#menu .navbar-nav>li {
	    float: right;
	}
}
@media (max-width: 1440px) {
	#menu .nav > li + li {
	    margin: 0 20px 0 0;
	}
}
@media (max-width: 991px) {
	#menu .nav > li + li {
	    margin: 0;
	}
	#topCategoryList li .toggle-menu {
		left: 5px;
		right: auto;
	}
	.toggled .toggle-open{
	    left: 0;
	    right: auto;
	}
	#topCategoryList .navbar-nav {
		padding: 0;
	}
	#menu #topCategoryList ul {
	    text-align: right;
	    padding: 0;
	}
    #topCategoryList{
	    right: 0;
	    left: auto;
	    -webkit-transform: translate(400px,0);
	    -moz-transform: translate(400px,0);
	    -ms-transform: translate(400px,0);
	    -o-transform: translate(400px,0);
	    transform: translate(400px,0);
    }
    .menu-close{
    	text-align: left;
    }
    #menu .nav > li > a,
    #menu #topCategoryList .dropdown-inner a{
	    padding: 6px 15px 6px 30px;
    }
    #menu .btn-navbar{
	    margin: 0 15px 0 0;
    }
}

/*----------------------------------------------*/
/* carousel */
/*----------------------------------------------*/
.owl-carousel.owl-theme .owl-nav div i,
.category-featured .owl-nav div i {
    transform: scale(-1);
}
.owl-carousel.owl-theme .owl-nav .owl-next i, 
.category-featured .owl-nav .owl-next i {
	margin: 0 6px 0 0;
}
.owl-carousel.owl-theme .owl-nav .owl-prev i, 
.category-featured .owl-nav .owl-prev i {
	margin: 0 0 0 6px;
}
.owl-carousel.owl-theme .owl-nav .owl-next, 
.category-featured .owl-nav .owl-next {
	margin: 0 30px 0 0;
}
.mblog .owl-carousel.owl-theme .owl-nav .owl-next {
	margin: 0 10px 0 0;
}
.mblog .owl-carousel.owl-theme .owl-nav {
	left: 15px;
	right: auto;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {
	margin: 0 10px 0 0!important;
}
@media (max-width: 991px) {
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {
		margin: 10px 0 0 0!important;
	}
	.swiper-horizontal>.swiper-pagination-bullets, 
	.swiper-pagination-bullets.swiper-pagination-horizontal, 
	.swiper-pagination-custom, .swiper-pagination-fraction {
		left: 50px!important;
		right: auto!important;
	}
}
@media (max-width: 767px) {
	.swiper-horizontal>.swiper-pagination-bullets, 
	.swiper-pagination-bullets.swiper-pagination-horizontal, 
	.swiper-pagination-custom, .swiper-pagination-fraction {
		left: 15px!important;
		right: auto!important;
	}
}

/*----------------------------------------------*/
/* featured category */
/*----------------------------------------------*/
.category-featured .category-title {
	padding: 0 0 0 100px;
}
@media (max-width: 1440px) {
	.category-featured .category-title {
		padding: 0 0 0 55px;
	}
}
@media (max-width: 1199px) {
	.category-featured .category-title {
		padding: 0 0 0 20px;
	}
}
@media (max-width: 680px) {
	.category-featured .category-title {
		padding: 0 0 0 10px;
	}
}
@media (max-width: 575px) {
	.category-featured .category-title {
		padding: 0;
	}
}
/*----------------------------------------------*/
/* products */
/*----------------------------------------------*/
.product-thumb .sale-text::after {
	left: -3px;
	right: auto;
	clip-path: polygon(55% 0%, 0% 100%, 100% 55%);
}
.product-thumb .price-new {
    margin: 0 0 0 5px;
}
.mahardhi-tabs .nav-tabs > li + li {
	margin: 0 25px 0 0;
}
.product-thumb .sale-text {
	right: -20px;
	left: auto;
}
.product-thumb .button-group button + button {
	margin: 0 10px 0 0;
}
.product-list .product-thumb .thumb-description .addcart{
    right: 0;
}
.product-list .product-thumb .caption {
	text-align: right;
	padding: 25px 0 20px 117px;
}
#button-cart, #quick-cart {
    float: right;
    margin: 0 0 0 10px;
}
@media (max-width: 1440px) {
	.product-list .product-thumb .caption {
		padding: 20px 0 20px 50px;
	}
}
@media (max-width: 1199px) {
	.mahardhi-tabs .nav-tabs > li + li {
		margin: 0 15px 0 0;
	}
	.product-list .product-thumb .caption {
		padding: 20px 0;
	}
}
@media (max-width: 991px) {
	.product-thumb .sale-text::after {
		left: -2px;
	}
	.product-thumb .button-group button + button {
		margin: 0 2px 0 0;
	}
	.product-thumb .sale-text {
	    right: -10px;
	}
	.product-thumb:hover .button-group,
	.product-thumb .button-group {
	    right: 0;
	    left: 0;
	}
	.product-thumb .addcart,
	.product-thumb:hover .addcart {
	    right: 5px;
	}
	.product-list .product-thumb .caption {
		padding: 10px 0;
	}
}
@media (max-width: 680px) {
	.mahardhi-tabs .nav-tabs > li + li {
		margin: 0 7px 0 0;
	}
	.product-list .product-thumb .caption {
		padding: 10px 0 0;
	}
}

/*----------------------------------------------*/
/* blog */
/*----------------------------------------------*/
.mblog .page-title h3 {
	text-align: right;
}
.blog-block .zoom-post{
	right: -50px;
    left: auto;
}
.blog-block:hover .zoom-post {
    right: 15px;
    left: auto;
}
.blog-block > div,
.comment_cust .comment-text .user_img{
	float: right;
}
.comment_cust .comment-desc{
	padding: 0 80px 0 0;
}
#post_comment #commnt_form.form-horizontal .control-label{
	text-align: right;
}
.blog-comment,
.block-date{
    margin: 0 0 0 5px;
    padding: 0 0 0 7px;
}
.blog-category .block-date {
	border-right: none;
	border-left: 1px solid var(--border-color);
}
.blog-comment i, .block-date i {
    padding: 0 0 0 7px;
}
.blog-category.col-sm-6:nth-child(2n+1) {
    clear: right;
}
@media (max-width: 991px){
	.mblog .owl-carousel.owl-theme .owl-nav {
	    left: 5px;
	}
	.blog-block .zoom-post, 
	.blog-block:hover .zoom-post {
		right: 10px;
	}
}
@media (max-width: 540px){
	.comment_cust .comment-desc {
	    padding: 0 70px 0 0;
	}
}

/*----------------------------------------------*/
/* newsletter and newsletter-popup */
/*----------------------------------------------*/
#frmnewsletterpopup button {
	margin: 0 10px 0 0;
}

.news-dec i {
	margin: 0 0 0 20PX;
}
.subscribe-form {
	margin: 0 0 0 37PX;
}
@media (max-width: 1699px) {
	.subscribe-form {
		margin: 0;
	}
}
@media (max-width: 1440px) {
	.news-dec i {
		margin: 0 0 0 10px;
	}
}
@media (max-width: 991px) {
	.subscribe-form {
		margin: 15px auto;
	}
}
@media (max-width: 540px) {
	.subscribe-form {
		margin: 10px auto 15px;
	}
}
@media (max-width: 480px) {
	#frmnewsletterpopup button {
		margin: 10px 0 0;
	}
}

/*----------------------------------------------*/
/* deal of the day */
/*----------------------------------------------*/
.item-countdown > div {
    padding: 0 24px 0 20px;
}
.item-countdown > div + div > b:before {
	right: 0;
	left: auto;
}
@media (max-width: 1800px) {
    .item-countdown > div {
        padding: 0 19px 0 15px;
    }
}
@media (max-width: 1440px) {
    .item-countdown > div {
        padding: 0 14px 0 10px;
    }
}
@media (max-width: 1199px) {
    .item-countdown > div {
        padding: 0 9px 0 5px;
    }
}

/*----------------------------------------------*/
/* service */
/*----------------------------------------------*/
.service-item {
    float: right;
}
.service-icon {
	margin: 0 0 0 30px;
}
.service-box .service-item + .service-item::before {
	right: 0;
	left: auto;
}
@media (max-width: 991px) {
	.service-icon {
		margin: 0 0 0 15px;
	}
}
@media (max-width: 767px) and (min-width: 481px) {
	.service-icon {
		margin: 0 0 10px;
	}
}
/*----------------------------------------------*/
/* html */
/*----------------------------------------------*/
.banner2 {
	margin: 0 60px 0 0;
}
.saving-text {
	left: -50px;
	right: auto;
}
.banners > a::before, 
.banners > a::after {
	right: 0;
	left: auto;
}
@media (min-width: 1441px) {
	.html2 .promo-text-box {
	    padding: 0 0 0 55px;
	}
}
@media (max-width: 1199px) {
	.banner2 {
		margin: 0 40px 0 0;
	}
	.saving-text {
		left: -30px;
	}
}
@media (max-width: 480px) {
	.banner2 {
		margin: 0 25px 0 0;
	}
	.saving-text {
		left: -20px;
	}
}

/*----------------------------------------------*/
/* footer */
/*----------------------------------------------*/
footer .footer-content a::after {
	right: 0;
	left: auto;
}
.social-media a + a {
    margin: 0 7px 0 0;
}
.contact_title{
    margin: 0 0 0 5px;
}
@media (min-width: 992px) {
	.social-media {
	    text-align: left;
	}
}
@media (max-width: 1199px) {
	.social-media a + a {
	    margin: 0 3px 0 0;
	}
}
/*----------------------------------------------*/
/* breadcrumb */
/*----------------------------------------------*/
.breadcrumb > li + li:before {
    padding: 0px 5px 0px 8px;
    float: right;
}
.breadcrumb-back {
    transform: rotateY(180deg);
}
.breadcrumb-row {
	transform: rotateY(180deg);
}

/*----------------------------------------------*/
/* column-left */
/*----------------------------------------------*/
#column-left h3,
#column-right h3,
#column-left .box-content h3,
#column-right .box-content h3,
#column-left .product-thumb .caption,
#column-right .product-thumb .caption{
	text-align: right;
}
#column-left .product-thumb > .image,
#column-right .product-thumb > .image {
    margin: 0 0 0 15px;
    float: right;
}
#column-left .product-thumb > .thumb-description,
#column-right .product-thumb > .thumb-description{
	float: right;
}
.category-list .list-group-item{
    padding: 5px 0 5px 20px;
}
.category-list .child-categories .list-group-item {
    padding: 3px 0 3px 20px;
}
.megamenu-dropdown.column3 > li,
.megamenu-dropdown.column2 > li,
.megamenu-dropdown.column4 > li{
	float: right;
}

/*----------------------------------------------*/
/* category page */
/*----------------------------------------------*/
.cat-name li a{
    margin: 0 0 10px 6px;
}
#grid-view.btn-default{
	margin: 0 0 0 10px;
}
.cat-pagination-right .cat-show {
    padding: 2px 20px 2px 0;
}
.cat-pagination-right .form-control{
    padding: 4px 10px 4px 25px;
}
.category-list .has-more-category .toggled {
	left: 0;
	right: auto;
}
.checkbox label, .radio label,
.checkbox-inline, .radio-inline {
	padding-left: 0;
	padding-right: 20px;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	margin-left: 0;
	margin-right: -20px;
}
#filter .panel-footer {
	text-align: right;
}
.cat-pagination-right {
    text-align: left;
}
#list-view.btn-default,
#grid-view.btn-default,
.text-right.show-text,
.text-right.show-select{
	float: right;
}
.select-filter-show::after,
.select-filter-sort::after{
	left: 10px;
    right: auto;
}
.pro_pagination .text-left {
	float: right;
}
.pagination>li>a,
.pagination>li>span{
	margin: 0 10px 0 0;
    float: right;
}
@media (min-width: 681px) {
	.product-list .product-thumb .image {
		margin: 0 0 0 30px;
    	float: right;
	}
}
@media (max-width: 1800px) and (min-width: 1200px){
	#column-left .product-thumb > .image,
	#column-right .product-thumb > .image {
	    margin: 0 0 0 10px;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	#column-left .product-thumb > .image,
	#column-right .product-thumb > .image {
	    margin: 0 0 0 5px;
	}
}
@media (max-width: 1199px){   
	.cat-sort .form-control,
	.cat-show .filter-selection .form-control,
	.cat-pagination-right .limits-text {
	    padding: 4px 7px 4px 20px;
	}
	.cat-pagination-right .cat-show{
		padding-right: 0;
	}
	.cat-pagination-right .form-control.sort-order{
		max-width: 165px;
	}
}
@media (max-width: 991px){
	.product-list .product-thumb .image {
	    margin: 0 0 0 20px;
	}
}
@media (max-width: 767px){
	.cat-pagination-right {
	    text-align: right;
	}
}
@media (max-width: 680px){
	.product-list .product-thumb .image{
		margin: 0;
	}
}
@media (max-width: 480px){
	.cat-pagination-right .cat-show {
	    padding: 5px 0 0 0;
	}
}

/*----------------------------------------------*/
/* product page */
/*----------------------------------------------*/
.pro-deatil .rating .write-review:before{
    right: 0;
    left: auto;
}
.rating .write-review{
	margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}
.rating .product-rating,
.rating > a{
	float: right;
}
.rating .product-rating{
    margin: 0 0 0 20px;
}
.product-btn-quantity .minus-plus {
    margin: 0 0 0 20px;
}
#product .product-btn-quantity {
    float: right;
}
.right_info .fa-pencil {
	padding: 0 0 0 5px;
}
.pro_price{
    margin: 0 0 0 10px;
}
button.pro_wish, button.pro_comper{
    float: right;
	margin: 0 0 0 5px;
}
#quick-carousel .owl-nav .owl-next {
    left: 0;
    right: auto;
}
#quick-carousel .owl-nav .owl-prev{
    right: 0;
    left: auto;
}
#product-page .nav.nav-tabs {
    padding: 0;
}
#product-page .nav-tabs li{
    float: right;
}
#product-page .pro-image {
    margin: 0 30px 0 0;
}
@media only screen and (max-width: 1199px){
    .rating .product-rating {
	    margin: 0 0 15px 0;
	}
}
@media only screen and (max-width: 991px){
	#product-page .pro-image {
	    margin: 0 15px 0 0;
	}
}

/*----------------------------------------------*/
/* other page */
/*----------------------------------------------*/
/*contact*/
.contact-left {
    float: right;
}
#information-contact .pull-right {
	float: left!important;
}
.information-contact .contact-left .title i.fa{
	margin: 0px 0 10px 10px;
}

/*account*/
#accordion .panel-heading h4.panel-title a i.fa-caret-down {
    float: left;
}
.slick-slide > div > div:nth-child(1){
    clear: right;
}
@media (min-width: 768px){	
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
		float: right;
	}
}
@media only screen and (max-width: 767px){
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		float: unset;
	}
	.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
		float: right;
	}
}
@media (min-width: 1200px) {
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1){
        clear: right;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: right;
    }
}
@media (min-width: 601px) and (max-width: 991px) {
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1) {
        clear:right;
    }
}
@media (max-width: 600px) and (min-width: 320px){
    .col-xs-2:nth-child(6n+1),
    .col-xs-3:nth-child(4n+1),
    .col-xs-4:nth-child(2n+1),
    .col-xs-6:nth-child(2n+1) {
        clear:right;
    }
}