{% if quickview_status %}
<!-- QuickView Wrapper -->	
<div class="quickview-wrapper"></div>
<!-- QuickView Wrapper -->
<!-- QuickView Loader -->
<div class="quickview-loader">
	<div class="quickview-loader-inner">{{text_loading}}</div>
</div>
<!-- QuickView Loader -->
<!-- QuickView Overlay -->
<div class="quickview-overlay"></div>
<!-- QuickView Overlay -->

<!-- QuickView Overlay Click-->
<script type="text/javascript">
    $('.quickview-overlay').on('click',function () {
        quickView.closeButton();
    })
</script>
<!-- QuickView Overlay Click -->
{% endif %}
